body{
    font-family: 'Poppins', sans-serif;
}
.disabled{
    pointer-events: none;
}
.hover-show-password, .to-action{
    cursor: pointer;
}
.btn-logout{
    border-radius: 50px;
    width: 100px;
}
.btn-logout:hover{
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.175) !important;
}
 
  .dropdown-toggle::after {
    display: inline-block;
    width: .3em;
    height: .3em;
    margin: -.4em 0 0 .6em;
    vertical-align: middle;
    content: ">";
    /* border: .3em solid; */
    border-width: 0 .15em .15em 0;
    transform: rotateZ(89deg)
  }

